body {
  background-color: #E5E5E5; }

.text {
  font-size: 1.6em; }

footer {
  position: relative;
  bottom: 0;
  width: 100%; }

img {
  width: 350px; }

#home-text {
  width: 100%; }

.fa {
  font-size: 40px;
  color: tan; }

.btn {
  width: 200px; }

.login {
  height: 80px; }

.customBG {
  background-color: #1C9D0F; }

#logo {
  height: 200px; }
